/* 
@property 규칙은 JS를 실행할 필요 없이 스타일 시트에서
직접 사용자 정의 속성 등록을 하는것이다.
syntax : 속성에 허용되는 구문
inherits : @property의 기본 상속 여부 제어
initial-value : 속성의 초기 값 설정
*/

/*
@property --rotate
회전 함수 사용자 정의
 */

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}


body {
  display: flex;
  background: #212534;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
}

.card {
  display: flex;
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  padding : 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
}

.card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}

.card:hover:before,
.card:hover::after {
  animation: none;
  opacity: 0;
}

/* 
z축 -1을 해줌으로서 이전 padding을 넣어주어 생긴 빈 공간에 
뒷배경처럼 색이 들어가게 됨
*/
.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(var(--rotate),
  #5ddcff, #3c67e3 43%, #4e00c2);
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
  opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

a {
  color: #212534;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 2rem;
}