/* skip nav */
#skip a {
    position: absolute;
    left: 0px;
    top: -35px;
    border: 1px solid #fff;
    color: #fff;
    background: #333;
    line-height: 30px;
    width: 170px;
    text-align: center;
}
#skip a:active,
#skip a:focus {
    top: 0;
}


/* layout */
#header { 
    height: 325px; 
    background: url(../img/header_bg.jpg) center top repeat-x;
}
#footer {
    height: 200px;
    background: #333;
}

/* content layout */
#cont_nav {background-color: #f6fdff;}
#cont_tit {background-color: #eff7fd;}
#cont_ban {background-color: #dceff7;}
#cont_cont {
    height: 200px;
    background: #666;
}

/* container */
.container {
    width: 990px;
    margin: 0 auto;
    height: inherit;
    background: rgba(255, 255, 255, 0.3);
}

/* header */
.header .header_menu {
    text-align: right;
}
.header .header_menu a {
    color: #fff;
    padding: 10px;
    display: inline-block;
}
.header .header_menu a:hover {
    color: #666;
}
.header .header_tit {
    text-align: center;
    margin-top: 40px;
}
.header .header_tit h1 {
    background-color: #4aa8d4;
    font-size: 28px;
    padding: 7px 20px 6px 20px;
    display: inline;
    color: #fff;
}
.header .header_tit a {
    display: inline-block;
    background-color: #2698cb;
    font-size: 18px;
    color: #fff;
    padding: 5px 20px 6px 20px;
}

.header .header_icon {
    text-align: center;
    margin-top: 30px;
}
.header .header_icon a {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: url(../img/icon.png);
}

/* img sprite */
.header .header_icon a.icon1 {
    background-position: 0 0;
}
.header .header_icon a.icon2 {
    background-position: 0 -60px;
}
.header .header_icon a.icon3 {
    background-position: 0 -120px;
}
.header .header_icon a.icon4 {
    background-position: 0 -180px;
}
.header .header_icon a.icon1:hover {
    background-position: -60px 0;
}
.header .header_icon a.icon2:hover {
    background-position: -60px -60px;
}
.header .header_icon a.icon3:hover {
    background-position: -60px -120px;
}
.header .header_icon a.icon4:hover {
    background-position: -60px -180px;
}

/* menu */
.nav {
    padding: 25px;
}
.nav > div {
    float: left;
    width: 40%;
}
.nav > div.last {
    width: 20%;
}
.nav > div h3 {
    font-size: 18px;
    color: #25a2d0;
    margin-bottom: 4px;
}
.nav > div ol li {
    float: left;
    width: 50%;
}
.nav > div ol li a:hover {
    text-decoration: underline;
}

.nav > div.last ol li {
    width: 100%;
}
.nav::after {
    content: "";
    display: block;
    clear: both;
}

/* title */
.tit {
    position: relative;
}
.tit h2 {
    font-size: 35px;
    text-align: center;
    color: #2c94c4;
    font-family: 'Qwitcher Grypen', cursive;
}
.tit h4 {
    font-size: 20px;
    text-align: center;
    padding: 5px 0;
    letter-spacing: 2px;
    
}
.tit .btn {
    position: absolute;
    top: 10px;
    right: 0;
    width: 60px;
    height: 60px;
    background: url(../img/icon.png) no-repeat 0 -600px;
}

/* banner */
.ban {
    position: relative;
    padding: 24px 0 20px;

}
.ban a.prev {
    position: absolute;
    left: -60px;
    top: 60px;
    width: 43px;
    height: 43px;
    background: url(../img/icon.png) no-repeat -150px 0;
}
.ban a.prev:hover {
    background-position: -193px 0;
}
.ban a.next {
    position: absolute;
    right: -60px;
    top: 60px;
    width: 43px;
    height: 43px;
    background: url(../img/icon.png) no-repeat -150px -43px;
}
.ban a.next:hover {
    background-position: -193px -43px;
}
.ban ul {
    overflow: hidden;
}
.ban ul li {
    float: left;
    width: 330px;
}
.ban ul li:last-child {
    text-align: right;
}
.ban ul li:nth-child(2) {
    text-align: center;
}
.ban ul li.ban_img1 {
    text-align: left;
}
.ban ul li.ban_img2 {
    text-align: center;
}
.ban ul li.ban_img3 {
    text-align: right;
}
.ban ul li img {
    border: 4px solid #dcdcdc;
}
.ban ul li img:hover {
    border-color: #98bcdc;
}